@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.ttf') format('truetype');
}
.btn-modifica{
    margin-left: 15px;
}
.btn-alta{
    margin-left: 15px;
}
.selectpicker-primary{
    padding-top: 0!important;
    padding-bottom: 10px !important;
    border: 0 !important;
}

.login-body{
    background-color: #FFFFFF;
}

.login-main{
    background-color: transparent;
}

#h_rojo{
    width: 70%;
    height: 300px;
    position: absolute;
    margin-top: -7.5%;
}

#h_logo{
    width: auto;
    height: 110px;
    margin-top: 2.5%;
}

#h_azul{
    position: absolute;
    width: 100%;
    height: 200px;
}

.tg-logo{
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
}

#h_azul_fuerte{
    position: absolute;
    margin-top: -13%;
    margin-left: 33%;
}

#header_completo{
    position: absolute;
    width: 100%;
}

.container-login{
    margin-top: 16%;
}

.login-control{
    margin-top: 5%;
}

.login-input{
    border-radius: 10px;
    font-family: Helvetica, serif;
    background-color: #FFFFFF !important;
    font-size: 18px;
    border: 1px solid #CCCCCC !important;
}

.login-label{
    font-size: 16px;
    margin-left: 5%;
    font-family: Helvetica;
}

.login-button{
    margin-top: 10%;
    border-radius: 10px;
    font-size: 15px;
    background-color: #000099;
    font-family: Helvetica;
    border: 1px solid #000099;

}

.login-button:hover{
    background-color: #FF0033;
}

/**************** I N I C I O *****************/
.cont_menu{
    height: 190px;
    background-color: #000098;
}

.icono_menu{
    width: 100px;
}

.cont_icono {
    position: absolute;
    left: 12rem;
    top: 7rem;
    z-index: 100;
    width: 70px;
    display: block;
    cursor: pointer;
}

.cont_text_inicio{
    text-align: center;
}

.cont_imagen_accion img{
    border-radius: 15px 15px 0 0;
}

.cont_text_accion{
    background-color: #000098;
    border-radius: 0 0 15px 15px;
    padding: 10%;
    box-shadow: -3px 4px 17px black;
}

.text_accion{
    color: #FFFFFF;
    padding-left: 20%;
}

.text_seccion{
    color: #FFFFFF;
    font-weight: bold;
}