/* CSS PARA PAGINA DE INICIO - LOGIN */

.h_logo {
    width: auto;
    height: 70px;
    margin-top: 1.5%;
}

.form-signin {
    max-width: 370px;
    padding: 15px;
}

.btn-primary {
    background-color: #000099;
}

.login-button {
    font-size: 15px;
    font-family: Helvetica;
}

.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
    background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.sidebar .svg-logo {
    height: 8rem;
    margin: -30px 0;
}

.header i {
    color: #191919;
    border-radius: 100%;
    padding: 10px;
}

.header i:hover {
    background-color: rgba(222, 222, 222, 0.77);
}

@media (max-width: 600px) {
    .h_logo {
        width: auto;
        height: 35px;
        margin-top: 2%;
    }
}

/* CSS PARA INPUTS TIPO SELECT */

.bootstrap-select button.dropdown-toggle{
    background-color: var(--cui-input-bg, #fff);
    border: 1px solid var(--cui-input-border-color, #c4c9d0);
}

.bootstrap-select button.dropdown-toggle:focus{
    outline: thin solid var(--cui-input-border-color, #c4c9d0) !important;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
    background-color: var(--cui-input-bg, #fff);
    border: 1px solid var(--cui-input-border-color, #c4c9d0);
}

.accordion-button {
    background-color: rgba(227, 225, 225, 0.25);
    margin-bottom: 10px;
}

.dropdown-menu {
    z-index: 1300;
}

/*
.simplebar-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.menu-divider {
    display: block;
    height: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 2.5rem;
    margin-bottom: 0;
    border-color: #e0e0e0;

}

.nav-link {
    color: #616161 !important;
}

.nav-title {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 0.75rem 0;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
}

.sidebar .nav-link i  {
    opacity: .3;
}

.nav-item:hover{
    background-color: rgba(0, 0, 152, 0.1);
}







!* CSS PARA NAV *!

.top-nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


.btn-icon {
    border-radius: 100%;
    border: 0;
}

.dropdown-toggle::after {
    display: none;
}

.btn-icon:hover, .btn-icon:active {
    background-color: rgb(229, 229, 229);
}

.perfil-item{
    display: flex;
}

.perfil-item i {
    margin-right: 1rem;
}

!* CSS PARA SIDEBAR *!

.sidebar-menu-heading {
    padding-top: 2.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    font-size: 1.125rem;
    color: #212121;
}

.sidebar-menu-divider {
    display: block;
    height: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 2.5rem;
    margin-bottom: 0;
}

.sidebar-menu-divider {
    border-color: #e0e0e0;
}

.nav-link {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    will-change: transform, opacity;
    overflow: hidden;
    color: #616161;
    height: 35px;
}






}*/
